<p id="notice"><%= notice %></p>

<p>
  <h1><%= @user.username %></h1>
</p>



<% if not @user.ratings.empty? %>
  <p>has made <%= @user.ratings.count %> ratings</p>
  <%= @user.average_rating %>
<% end %>

<% if not @user.memberships.empty? %>
<p>Member of 
  <% @user.memberships.each do |membership| %>
    <%= link_to membership.beer_club.name, membership.beer_club %>
  <% end %>
  </p>
<% end %>

<% if not @user.ratings.empty? %>
  <h2>Ratings</h2>
  <p>
      <ul>
      <% @user.ratings.each do |rating| %>
        <li>
          <%= rating %>
          <% if @user == current_user %>
            <%= link_to 'delete', rating, :method => :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </li>
      <% end %>
      </ul>
  </p>
<% end %>

<% if @user == current_user %>
<%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Back', users_path %>
